<div class="container">
  <div class="form-row text-center">
    <a class="btn btn-info" routerLink="/Admin/createActor">Create Actor</a>
    <a class="btn btn-warning" routerLink="/Admin/editActor">Edit Actor</a>
    <a class="btn btn-danger" routerLink="/Admin/deleteActor">Delete Actor</a>
  </div>
  <div class="form-row text-center">
    <a class="btn btn-info" routerLink="/Admin/createMovie">Create Movie</a>
    <a class="btn btn-warning" routerLink="/Admin/editMovie">Edit Movie</a>
    <a class="btn btn-danger" routerLink="/Admin/deleteMovie">Delete Movie</a>
  </div>
  <div class="form-row text-center">
    <a class="btn btn-light" routerLink="/Admin/castActor">Cast Actor to Movie</a>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Release Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let movies of moviesList;">
      <tr *ngFor="let repo of movies;">
        <td>{{repo.title}}</td>
        <td>{{repo.summary}}</td>
        <td>{{repo.releaseDate | date}}</td>
        <td><button class="btn btn-warning" (click)="editMovieSelect(this.repo.id)" routerLink="/Admin/editMovie">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteMovie(this.repo.id);">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
